body {
  height: 100vh;
}

#games-index-map .angular-google-map-container {
  height: 350px;
  min-height: calc(50vh - 60px);
}

#games-list {
  height: 350px;
  min-height: calc(50vh - 60px);
  overflow-y: scroll
}

#games-map .angular-google-map-container {
  height: calc(100vh - 200px);
  min-height: 200px;
}
#edit-title {
    margin-right: 3px;
}
span.glyphicon {
    vertical-align: middle;
    margin-top: -5px;
}
.navbar-brand img {
  height: 50px;
  width: 50px;
}

.nav-icon {
  display: inline-block;
  padding: 0;
}

.align-top{
  margin-top: 0px;
}
