<div class="pull-right col-xl-4">
  <a class="btn btn-warning col-xl-2" ng-href="/">Discard Changes</a>
  <a class="btn btn-danger col-xl-2" ng-click="gamesEditCtrl.destroy()">Delete Game</a>
  <hr>
</div>
<form ng-submit="gamesEditCtrl.update()">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Title" ng-model="gamesEditCtrl.game.title">
  </div>
  <div class="form-group">
    <textarea class="form-control" placeholder="Content" ng-model="gamesEditCtrl.game.content"></textarea>
  </div>
  <input type="submit" value="Update Game" class="btn btn-block btn-info">
</form>
