<div class="row">
  <div id="games-index-map" class="col-md-6 col-xs-12">
    <ui-gmap-google-map center='gamesNewCtrl.map.center' zoom='gamesNewCtrl.map.zoom'>
    <ui-gmap-marker coords="{latitude: gamesNewCtrl.autoAddress.geometry.location.lat(), longitude: gamesNewCtrl.autoAddress.geometry.location.lng() }" idkey='1'>

      <ui-gmap-window options="windowOptions" closeClick="closeClick()">
        NEW GAME
      </ui-gmap-window>
    </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>

  <div class="col-md-6">
    <form ng-submit="gamesNewCtrl.create()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="gamesNewCtrl.game.title" required="true">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Location (address)" g-places-autocomplete ng-model="gamesNewCtrl.autoAddress" options="autocompleteOptions" required="true">
      </div>
      <div class="form-group">
        Start Time: <span>{{gamesNewCtrl.game.start | date:'dd MMM yyyy hh:mm a' }}</span>
        <br />
        <input type="datetime-local" required="true" ng-model="gamesNewCtrl.game.start"/>
      </div>
      <input type="submit" value="Create Game" class="btn btn-block btn-info">
    </form>
  </div>
</div>
<div class="row">

</div>
